body {
    background-color: rgb(138, 233, 212);
}
h1, h2 { 
    color:#000000; 
    text-align:center;
}
h3, h4, h5, h6 { 
    color:#000000; 
    text-align:start;
}

/* estilo por ID */
#p1 {
    color: rgb(185, 39, 39);
    text-align: center;
}

p2 {
    text-align: center;
    color: rgb(185, 39, 39);
}

/* estilo por clase */
.centradoyrojo {
    text-align: center;
    color: red;
    font-size: 50px;
}